@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1f2937;
}

.blob-one { 
  width: 40px;
  height: 38px;
  position: absolute;
  left: 29%;
  box-shadow: 0px 0px 40px 20px #4444dd;
  background-color: #1f2937;
  background-size: cover;
  animation: blob-one;
  animation-duration: 3s;
  animation-iteration-count: 1;
  border-radius: 20px;
  opacity: 0;
}



@keyframes blob-one {
  0% {
    transform: rotate(0deg);
    width: 0px;
    height: 0px;
    box-shadow: 0px 0px 0px 0px #4444dd;
    opacity: 100;
  }
  50% {
    transform: rotate(359deg);
    width: 40px;
    height: 38px;
    box-shadow: 0px 0px 40px 20px #4444dd;
    opacity: 100;
  }
  100% {
    transform: rotate(0deg);
    width: 0px;
    height: 0px;
    box-shadow: 0px 0px 0px 0px #4444dd;
    opacity: 0;
  }
  
}

.blob-two { 
  width: 0px;
  height: 38px;
  left: 20%;
  box-shadow: 0px 0px 40px 20px #4444dd;
  background-color: #1f2937;
  background-size: cover;
  animation: blob-two;
  animation-duration: 3s;
  animation-iteration-count: 1;
  border-radius: 20px;
  opacity: 0;
  animation-timing-function: steps(5, end);
}


@keyframes blob-two {
  0% {
    transform: rotate(0deg);
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 100;
  }
  50% {
    transform: rotate(330deg);
    width: 40px;
    height: 38px;
    opacity: 100;
  }
  100% {
    transform: rotate(0deg);
    width: 0px;
    height: 0px;
    opacity: 0;
  }
}

.blob-holder { 
  width: 0px;
  height: 38px;
  left: 20%;
  box-shadow: 0px 0px 40px 20px #4444dd;
  background-color: #1f2937;
  background-size: cover;
  animation: blob-two;
  animation-duration: 3s;
  animation-iteration-count: 1;
  border-radius: 20px;
  opacity: 0;
}